@import url(https://allfont.net/allfont.css?fonts=digital-7);

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.918);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-shadow: 5px 3px 2px rgba(0, 0, 0, 0.699);
  font-family: 'Cascadia Code', Verdana, Geneva, Tahoma, sans-serif;
  padding: .5em;
  margin: 0;
  /* background-color: rgb(247, 5, 98); */
  color: rgb(5, 252, 149);
  width: 100%;
  text-align: center;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, .2), 
   5px -5px 5px rgba(3, 3, 3, 0.1),
   -5px 5px 5px rgba(0, 0, 0, .1);
  border-left: 5px solid rgb(5, 252, 149);
  border-right: 5px solid rgb(5, 252, 149);
}


.container {
  /* border: 4px solid; */
  /* padding: 3em; */
  margin: 10em;
  width: 100%;
  height: 100%;
  max-width: 30rem;
}

.row {
  /* border: 3px solid rgba(2, 18, 48, 0.9); */
  width: 100%;
  text-align: center;
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, .5), 
   5px -5px 5px rgba(3, 3, 3, 0.1), -5px 5px 5px rgba(0, 0, 0, .1);
   padding: 1em;
}

.date_time {
  color: rgb(5, 252, 149);
  text-shadow: 8px 5px 2px rgba(0, 0, 0, 0.671);
  height: 100%;
  font-size: 5rem;
  font-family: 'Digital-7', Verdana, Geneva, Tahoma, sans-serif;
}


#date {
  font-size: 1.5rem;
  padding: 1em 0;
  padding-bottom: -1em;
  margin-bottom: -1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

